# Vim
*~
*.swp
*.swo

# Mac
.DS_Store
.AppleDouble
.LSOverride
# Icon must ends with two \r.
Icon
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# NPM
node_modules

# Project Specific
dist/*

# Bower Components
bower_components/*

